*{
    margin: 0;
    box-sizing: border-box;
}

.app{
    background-color: #fafafa;
    height: 100vh;
}

.app__header{
    background-color: white;
    object-fit: contain;
    width: 100%;
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.app__headerImage{
    height: 5rem;
}

.app__signUp{
    display: flex;
    flex-direction: column;
}

.app__posts{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.app__loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}